#!/bin/sh



### Adding to PATH
#####################
function add_to_path {
  if [[ ":$PATH:" != *":$1:"* ]]; then
    export PATH=$PATH:$1
  fi
}
#  adding /home/khabir/.local/bin to path.
add_to_path /home/khabir/.local/bin
#  for creating executable files in /home/khabir/bin
add_to_path /home/khabir/bin
# bat, zathura, sxiv
add_to_path /usr/bin/bat:/usr/bin/sxiv:/usr/bin/zathura
# lua
add_to_path /usr/bin/lua
add_to_path /home/khabir/.guix-profile/bin/
add_to_path $PYENV_ROOT/bin
add_to_path /home/khabir/.local/scripts

# fix notification last for ever when running notify-send in .xprofile

export ZDOTDIR=$HOME/.config/zsh
export VISUAL=nvim
export EDITOR="nvim"
export BROWSER="brave-beta"
export MANPAGER='nvim +Man!'
export PAGER='nvim +Man!'
export OPENER='zathura'
export TERMINAL='alacritty'
export MANWIDTH=999

setbg $HOME/pics/wallpapers &       # set background
slstatus &
sxhkd &                         # for keybindings
picom &
safeeyes &

# for dwm : Bind the right Alt key to Mod4
xmodmap -e "keycode 108 = Super_L"  # reassign Alt_R to Super_L
xmodmap -e "remove mod1 = Super_L"  # make sure X keeps it out of the mod1 group

