#!/bin/sh



### Adding to PATH
#####################
function add_to_path {
  if [[ ":$PATH:" != *":$1:"* ]]; then
    export PATH=$PATH:$1
  fi
}
#  adding /home/khabir/.local/bin to path.
add_to_path /home/khabir/.local/bin
#  for creating executable files in /home/khabir/bin
add_to_path /home/khabir/bin
# bat, zathura, sxiv
add_to_path /usr/bin/bat:/usr/bin/sxiv:/usr/bin/zathura
# lua
add_to_path /usr/bin/lua
add_to_path /home/khabir/.guix-profile/bin/

# fix notification last for ever when running notify-send in .xprofile
export 	EDITOR="nvim"
export BROWSER="brave-nightly"
export ZDOTDIR=$HOME/.config/zsh

setbg $HOME/pics/wallpapers        # set background
slstatus &
sxhkd &                         # for keybindings

# for dwm : Bind the right Alt key to Mod4
xmodmap -e "keycode 108 = Super_L"  # reassign Alt_R to Super_L
xmodmap -e "remove mod1 = Super_L"  # make sure X keeps it out of the mod1 group
